## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Ll]og/
[Ll]ogs/

## NuGet
packages/
*.nupkg
**/packages/*
!**/packages/build/

## Misc
*.log
*.tmp
*.temp
*.cache
*.pdb
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Certificates / keys
*.pfx
*.p12
*.key