<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BU50_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="WooConsumerKey" value="ck_ced0f3b7dc9ed68b7f12ed8ce3689741cf557405" />
    <add key="WooConsumerSecret" value="cs_301b1b63c1febe5c0fabd468179b6f72d78f9b05" />
    <add key="WooApiBaseUrl" value="https://bukhamsen.com/wp-json/wc/v3" />
    <add key="WooBatchSize" value="10" />
    <add key="WooBatchDelayMs" value="2000" />
    <add key="WooPutRetryDelayMs" value="500" />
    <add key="WooBatchMaxRetries" value="2" />
    <!-- Comma-separated category names to exclude from updates, e.g.: "مكيفات, Air Conditioners" -->
    <add key="ExcludedCategories" value="مكيفات الهواء و حلول التهويه" />
    <!-- NovaShop bulk-sync batch size (higher = fewer HTTP round-trips) -->
    <add key="BatchSize" value="250" />
    <!-- UI refresh every N products during full sync (higher = faster) -->
    <add key="UiRefreshEvery" value="25" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <userSettings>
    <BU50_API.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>192.168.1.9</value>
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>Focus507D</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>TrakingOrdersDB</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>B@ssw0rd</value>
      </setting>
      <setting name="pagenumbering" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CompCode" serializeAs="String">
        <value>07D</value>
      </setting>
      <setting name="password2" serializeAs="String">
        <value>34020096@E50e</value>
      </setting>
      <setting name="ServerNameExternal" serializeAs="String">
        <value>198.12.252.164</value>
      </setting>
      <setting name="WebsiteUrl" serializeAs="String">
        <value>https://api.efifty.com</value>
      </setting>
      <setting name="ExcludedCategoryIds" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcludedCategories" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>nsk_tZ7KlwbN4e4H7x1py-fn6ASG8dpM9hWNY9oWlavll3g</value>
      </setting>
    </BU50_API.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-112.1.0.0" newVersion="112.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.windows.forms jitDebugging="true" />
</configuration>
